@font-face{
    font-family: 'JetBrains Mono';
    src: url('https://raw.githubusercontent.com/JetBrains/JetBrainsMono/master/fonts/webfonts/JetBrainsMono-Regular.woff2') format('woff2'),
         url('https://raw.githubusercontent.com/JetBrains/JetBrainsMono/master/fonts/ttf/JetBrainsMono-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    -webkit-font-feature-settings: "liga" on, "calt" on;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-family: 'JetBrains Mono';
}

@font-face {
  font-family: "Ubuntu Mono Nerd Font";
  src: url("https://github.com/ryanoasis/nerd-fonts/raw/refs/heads/master/patched-fonts/UbuntuMono/Regular/UbuntuMonoNerdFont-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
x-row {
  text-rendering: optimizeLegibility;
  font-variant-ligatures: normal;
}
